@using SistemaDeCadenasAlimenticias.Data.Entidades
@model List<Sucursal>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<h1>Sucursales</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Create New</a> @*asp-action="nombre de la view" es mejo y no hay problemas de direccionamiento*@
</p>
<form asp-controller="Sucursal" asp-action="Index"> @*enviamos la selection al controlador sucursal en el action "Index"*@
    <div class="input-group">
        <label for="IdCadena"></label>
        <select name="IdCadena" id="IdCadena" class="custom-select">
            <option value="">Seleccione una Cadena</option>
            @foreach (Cadena cadena in ViewBag.Cadenas)
            {
                <option value="@cadena.Id">@cadena.RazonSocial</option>
            }
        </select>
        <div class="input-group-append">
            <input type="submit" value="Filtrar" class="btn btn-sm btn-dark" />
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Cadena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sucursal in Model)
        {
            <tr>
                <td>@sucursal.Direccion</td>
                <td>@sucursal.Ciudad</td>
                <td>@sucursal.IdCadenaNavigation.RazonSocial</td> @*en Sucursal.cs nos crea el metodo para navegar entre tabals buscar que nombre le pone EF*@
                <td>
                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@sucursal.Id">Edit</a> |
                @*<a asp-action="Details" class="btn btn-sm btn-info" asp-route-id="@item.Id">Details</a> |*@
               <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@sucursal.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>