@using SistemaDeCadenasAlimenticias.Data.Entidades
@model List<Sucursal>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<h1>Sucursales</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary">Create New</a> @*asp-action="nombre de la view" es mejo y no hay problemas de direccionamiento*@
</p>
<form asp-controller="Sucursal" asp-action="Index">
    <div class="form-group">
        <label for="IdCadena">Cadenas:</label>
        <select name="IdCadena" id="IdCadena" class="form-control">
            <option value="">Seleccione una Cadena</option>
            @foreach (Cadena cadena in ViewBag.Cadenas)
            {
                <option value="@cadena.Id">@cadena.RazonSocial</option>
            }
        </select>

        <input type="submit" value="Filtrar" class="btn btn-sm btn-dark" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Direccion</th>
            <th>Ciudad</th>
            <th>Cadena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sucursal in Model)
        {
            <tr>
                <td>@sucursal.Direccion</td>
                <td>@sucursal.Ciudad</td>
                <td>@sucursal.IdCadenaNavigation.RazonSocial</td> @*en Sucursal.cs nos crea el metodo para navegar entre tabals buscar que nombre le pone EF*@
            </tr>
        }
    </tbody>
</table>